html {
	background-color: #F2F4F4;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	
}

body, h1, p {
	text-align: center;
	
}

div {
	display: block;
}

label {
	display: block;
	text-align: center;
	margin: 5px;
}

textarea {
	width: 80%;
	height: 200px;
}

input {
	width: 80%;
	height: 25px;
}

button {
	margin: 10px;
	border: none;
	width: 50%;
	height: 45px;
	font-family: 'Montserrat', sans-serif;
	background-color: #AEB6BF;
}

.info {
	display: block;
	width: 100%;
}

.address > p {
	margin: 0px;
}

.PhoneNumber {
	margin: 10px 0px;
}

.PhoneNumber > p {
	margin: 0px;
}

