html {
	background-color: #F2F4F4;
	font-size: 1em;
	font-family: 'Montserrat', Arial, sans-serif;
}

#nav {
    width:100%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #F2F4F4;
    border: 1px solid #AEB6BF;
    border-width: 1.5px 0;
    text-align:center;
}

.navbar {
    display:inline;
}

.navlink {
    display:inline-block;
    color:#273746;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}

.navlink:hover {
    background-color: #AEB6BF;
    border-radius: 20px;
}

body, h1, p {
	text-align: center;
	
}

div {
	display: block;
}

label {
	display: block;
	text-align: center;
	margin: 5px;
}

textarea {
	width: 80%;
	height: 200px;
}

input {
	width: 80%;
	height: 25px;
}

button {
	margin: 10px;
	border: none;
	width: 50%;
	height: 45px;
	font-family: 'Montserrat', Arial, sans-serif;
	background-color: #AEB6BF;
	border-radius: 8px;
}

.info {
	display: block;
	width: 100%;
}

.address > p {
	margin: 0px;
}

.PhoneNumber {
	margin: 10px 0px;
}

.PhoneNumber > p {
	margin: 0px;
}

@media only screen and (min-width: 480px) {
	html {
		background-color: #F2F4F4;
		font-size: 1em;
		font-family: 'Montserrat', Arial, sans-serif;
	}
	
	#nav {
		width: 30%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navbar {
		display:inline;
	}

	.navlink {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navlink:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
	
}

@media screen only and (min-width: 768px) {
	#nav {
		width: 33%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navbar {
		display:inline;
	}

	.navlink {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navlink:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
	
}

