html {
	background-color: #F2F4F4;
	font-size: 1em;
	font-family: 'Montserrat', Arial, sans-serif;
}

div {
	display: block;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.navbar {
  display:inline;
}

.navlink {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlink:hover {
  background-color: #111;
}

body{
    background-color: #F2F4F4;
}

.container{
    margin: 0 auto;
    width: 300px;
    height:200px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 0.7em;
}
#head{
    text-align:center;
    padding-bottom:20px;
    font-size:1.65em;
    letter-spacing: 1.0px;
    padding-top: 10px;
	margin: 5px 0px;
}
.place{
    margin: 25px 20px 0 0;
    padding: 20px 10px;
    overflow: auto;
}
.pic{
    float:left;
    width: 150px;
}
.pic img{
    display:block;
}
.intro{
    margin-left: 150px;
}
.clear{
    clear:both;
}

@media only screen and (min-width: 480px){
    
    .container{
        font-size: 0.8em;
        width: 600px;
    }
    #head{
        padding-bottom:20px;
        font-size:2em;
        letter-spacing: 1.25px;
    }
    
    .intro{
        margin-left: 200px;
    }
    .pic{
        float:left;
        width: 250px;
    }
}
@media only screen and (min-width: 768px){
    .container{
        font-size: 0.95em;
        width: 600px;
    }
    #head{
        padding-bottom:20px;
        font-size:2.45em;
        letter-spacing: 1.5px;
    }
    .intro{
        margin-left: 200px;
    }
    .pic{
        float:left;
        width: 250px;
    }
}