#nav {
    width:70%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #F2F4F4;
    border: 1px solid #AEB6BF;
    border-width: 1.5px 0;
    text-align:center;
}
.navbar{
    display:inline;
}
.navlink{
    display:inline-block;
    color:#273746;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navlink:hover{
    background-color: #AEB6BF;
    border-radius: 20px;
}

body{
    background-color: #F2F4F4;
}
.container{
    margin: 0 auto;
    width: 600px;
    height:200px;
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 0.7em;
}
#head{
    text-align:center;
    padding-bottom:20px;
    font-size:1.15em;
    letter-spacing: 1.5px;
}
.place{
    margin: 25px 20px 0 0;
    padding: 20px 10px;
    overflow: auto;
}
.pic{
    float:left;
    width: 250px;
}
.pic img{
    display:block;
}
.intro{
    margin-left: 150px;
}
.clear{
    clear:both;
}

@media only screen and (min-width: 768px){
    #nav {
        width:30%;
    }
    .container{
        font-size: 0.8em;
    }
    #head{
        padding-bottom:20px;
        font-size:1.4em;
        letter-spacing: 1.5px;
    }
    .intro{
        margin-left: 200px;
    }
}