#banner{
	margin-bottom: 10px;
	margin-top: 20px;
	
}
body{
  background-color: #F2F4F4;
}
.container{
	width: 90%;
	height: 185em;
	background-color: #F2F4F4;
	margin: auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
 }
	.navlink{
    display:inline-block;
    color:#273746;
    text-align:center;
    text-decoration:none;
}
	
#nav {
    width:100%;
    margin: 0 auto;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #F2F4F4;
    border: 1px solid #AEB6BF;
    border-width: 1.5px 0;
    text-align:center;
}
.navbar{
    display:inline-block;
    color:#273746;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navbar:hover{
    background-color: #AEB6BF;
    border-radius: 20px;
}
.slideshow-container{
	width:80%;
	height:250px;
	margin:auto;
	animation-name: slide;
	animation-duration: 13s;
	animation-direction: normal;
	animation-timing-function: ease;
	animation-iteration-count: infinite;
	}
	/* animation */
	@keyframes slide
	{
	0% {background-position:0 0;}
	16.66% {background-position:0 0;}
	33.32% {background-position:-800px 0;}
	49.98% {background-position:-800px 0;}
	66.64% {background-position:-1600px 0;}
	83.30% {background-position:-1600px 0;}
	100% {background-position:0 0;}
	}
	html {
	background-color: #F2F4F4;
	font-size: 1em;
	font-family: 'Montserrat', Arial, sans-serif;
}

body, h1, p {
	text-align: center;
}

h1 {
	font-size: 2.618em;
	margin: 5px 0px;
}

div {
	display: block;
}

@media only screen and (min-width: 480px) {
	html {
		background-color: #F2F4F4;
		font-size: 1em;
		font-family: 'Montserrat', Arial, sans-serif;
	}
	
	#nav {
		width: 60%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navlink{
    display:inline-block;
    color:#273746;
    text-align:center;
    text-decoration:none;
  }
	.navbar {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navbar:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
  .container{
    width: 90%;
    height: 630em;
    background-color: #F2F4F4;
    margin: auto;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  .slideshow-container{
		width:45%;
	}
}

@media  only screen and (min-width: 768px) {
	#nav {
		width: 80%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navlink{
    display:inline-block;
    color:#273746;
    text-align:center;
    text-decoration:none;
  }


	.navbar {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navbar:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
  .container{
	width: 90%;
	height: 530em;
	background-color: #F2F4F4;
	margin: auto;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  }
  .slideshow-container{
		width:60%;
	}
}
