#nav {
    width:30%;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    background-color: #F2F4F4;
    border: 1px solid #AEB6BF;
    border-width: 1.5px 0;
    text-align:center;
}
.navbar{
    display:inline;
}
.navlink{
    display:inline-block;
    color:#273746;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navlink:hover{
    background-color: #AEB6BF;
    border-radius: 20px;
}

body{
    background-color: #F2F4F4;
}
div {
	width:400px;
	height:250px;
	margin-top: 20px;
	display: block;
}

@media only screen and (min-width: 480px) {
	
	#nav {
		width: 30%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navbar {
		display:inline;
	}

	.navlink {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navlink:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
	
}

@media screen only and (min-width: 768px) {
	#nav {
		width: 33%;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		background-color: #F2F4F4;
		border: 1px solid #AEB6BF;
		border-width: 1.5px 0;
		text-align:center;
	}

	.navbar {
		display:inline;
	}

	.navlink {
		display:inline-block;
		color:#273746;
		text-align:center;
		padding:14px 16px;
		text-decoration:none;
	}

	.navlink:hover {
		background-color: #AEB6BF;
		border-radius: 20px;
	}
}
