
/* Color palette: https://paletton.com/#uid=13i0u0k0hXy00++00++1LPr4IEg */
/* font-sizing: https://www.modularscale.com/?1&em&1.618 */

.text {
  font-family: 'Montserrat', Arial, sans-serif;
  line-height: 1em;
  font-size: 1.618em;
  background-color: #CEDADA;
}

/*responsive mobile banner image*/
#banner {
  margin-bottom: 10px;
  margin-top: 20px;
  width:100%;
}
/* responsive frame image*/
#imgs6{
  width: 100%;
}
/*responsive spikes image*/
#imgs8{
    width: 100%;
}
/*bellrope image*/
#imgs2{}
body{
  background-color: #F2F4F4;
}

body{
  background-color: #F2F4F4;
}
.container {
  width: 90%;
  /* height: 185em; */
  margin: auto;
}
 
.form-container {
  width: 85%;
  text-align: center;
  margin: auto;
}

#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

.navbar {
  display:inline;
}

.navlink {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navlink:hover {
  background-color: #111;
}

.slideshow-container {
  width:80%;
  height:250px;
  margin:auto;
  animation-name: slide;
  animation-duration: 13s;
  animation-direction: normal;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

/* animation */
@keyframes slide {
  0% {background-position:0 0;}
  16.66% {background-position:0 0;}
  33.32% {background-position:-800px 0;}
  49.98% {background-position:-800px 0;}
  66.64% {background-position:-1600px 0;}
  83.30% {background-position:-1600px 0;}
  100% {background-position:0 0;}
}

html {
  background-color: #F2F4F4;
  font-size: 1em;
  font-family: 'Montserrat', Arial, sans-serif;
}

body, h1, p {
  text-align: center;
}

h1 {
  font-size: 2.618em;
  margin: 5px 0px;
}

div {
  display: block;
}

.homepage-content p{
  margin: 20px;
  font-size: 1em;
  text-align: justify;
}

a.button5 {
  display:block;
  padding:0.46em 1.6em;
  border:0.1em solid #000000;
  margin:0 0.2em 0.2em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Montserrat', Arial, sans-serif;
  font-weight:300;
  font-size: 1.618em;
  color:#000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color:#CEDADA;
  text-align:center;
  transition: all 0.15s;
 }

a.button5:hover {
  text-shadow: 0 0 2em rgba(255,255,255,1);
  color:#FFFFFF;
  border-color:#FFFFFF;
}

.button_list {
  margin-top:3em;
}

/* FORM */
label {
  display: block;
  text-align: center;
  margin: 5px;
  font-weight: bold;
}

textarea {
  width: 90%;
  height: 175px;
}

input {
  width: 90%;
  height: 25px;
}

button {
  margin: 10px;
  border: none;
  width: 60%;
  height: 45px;
  font-family: 'Montserrat', Arial, sans-serif;
  background-color: #9CB7B7;
  border-radius: 8px;
}

.info-header {
  font-size: 1em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
	
.form-content {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

.info {
  display: block;
  width: 100%;
}

.address > p {
  margin: 0px;
}

.PhoneNumber {
  margin: 10px 0px;
}

.PhoneNumber > p {
  margin: 0px;
}

/* .container { */
  /* margin: 16px 0px; */
/* } */

@media only screen and (min-width: 480px) {
  html {
    background-color: #F2F4F4;
    font-size: 1em;
    font-family: 'Montserrat', Arial, sans-serif;
  }
	
  .container{
    width: 90%;
    background-color: #F2F4F4;
    margin: auto;
  }
	
  .slideshow-container{
    width:60%;
  }
	
/* FORM */
  input, textarea {
    width: 95%;
  }

  .info-header {
    font-size: 1em;
    font-weight: bold;
    margin-top: 10px;
  }
	
  .form-content {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
  }
}

@media  only screen and (min-width: 768px) {
  .container{
    width: 90%;
    background-color: #F2F4F4;
    margin: auto;
  }
  .homepage-content p{
    margin: 20px;
    font-size: 1.618em;
  }
  img {
    width: 40%;
  }
  #banner{
    width: 50%;
  }
	
  .slideshow-container{
    width:60%;	
    position: relative;
    margin: auto;
	min-height: 250px;
  }
  
  a.button5 {
    display:block;
    padding:0.46em 1.6em;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Montserrat', Arial, sans-serif;
    font-weight:300;
    font-size: 2em;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#CEDADA;
    text-align:center;
    transition: all 0.15s;
  }
	
  a.button5:hover {
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#FFFFFF;
    border-color:#FFFFFF;
  }
  
  .button_list {
    margin-top:3em;
    margin-bottom:3em;
  }
	
  /* FORM */
  .form-container {
    width: 75%;
  }
  .info {
    margin: auto;
    /* display: inline-block; */
    width: 50%;
    float: left;
    margin-top: 175px;
  }
	
  .address, .PhoneNumber, .main-email {
    margin: 25px;
    font-size: 1.618em;
    text-align: left;
  }
	
  .info-header, .form-content {
    font-size: 1.618em;
    font-weight: bold;
    text-align: center;
  }
	
  .form-content {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .form {
    margin: auto;
    /* display: inline-block; */
    width: 50%;
    float: right;
    margin-top: 50px;
    font-size: 1em;
  }
	
  input, textarea {
    width: 60%;
  }
}
